
        


<div class="page-content">
    <br/>
    <div class="toolbar">
        <div class="toolbar-title">
            <h4>Clients</h4>
        </div>
        <div class="toolbar-controls">
            <button id="add-client-action" class="mdl-button mdl-js-button mdl-button--raised">
                <i class="material-icons">library_add</i>
                add new
            </button>
        </div>
    </div>
    <hr style="clear:both" />

   <div id="client-grid-view">
       <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate full-width"></div>
   </div>

    @{Html.RenderPartial("_AddClient"); }
    <dialog class="mdl-dialog" id="client-details-dialog">
        <h4 class="mdl-dialog__title">Client Details</h4>
        <div class="mdl-dialog__content">
            <p>
                Allowing us to collect data will let us get you the information you want faster.
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Agree</button>
            <button type="button" class="mdl-button close">Disagree</button>
        </div>
    </dialog>

    <dialog class="mdl-dialog" id="client-type-dialog" style="width:70%">
        <h4 class="mdl-dialog__title">Choose Application Type</h4>
        <div class="mdl-dialog__content">
            <p>
                Select the type of client you want to create.
            </p>
            <div class="mdl-grid">
               
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="dialog-app-type mdl-card mdl-shadow--1dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">SPA</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="create-webapi-client">
                                Get Started
                            </a>
                        </div>
                       
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="dialog-app-type mdl-card mdl-shadow--1dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Web Application</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Get Started
                            </a>
                        </div>

                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="dialog-app-type mdl-card mdl-shadow--1dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Web API</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Get Started
                            </a>
                        </div>

                    </div>
                </div>
            </div>
                    
                    
                    
                </div>
                <div class="mdl-dialog__actions">                    
                    <button type="button" class="mdl-button close">Cancel</button>
                </div>
</dialog>

    
    <dialog class="mdl-dialog" id="client-update-dialog">
        <h4 class="mdl-dialog__title">Client Update</h4>
        <div class="mdl-dialog__content">
            <p>
                Allowing us to collect data will let us get you the information you want faster.
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Agree</button>
            <button type="button" class="mdl-button close">Disagree</button>
        </div>
    </dialog>
    <dialog class="mdl-dialog" id="client-delete-dialog">
        <h4 class="mdl-dialog__title">Delete Client</h4>
        <div class="mdl-dialog__content">
            <p>
                Allowing us to collect data will let us get you the information you want faster.
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Agree</button>
            <button type="button" class="mdl-button close">Disagree</button>
        </div>
    </dialog>

    <div id="info-snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>   
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>

@section Scripts {
    <script src="~/lib/dialog-polyfill/dialog-polyfill.js"></script>
    <script src="~/js/extensions.js"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/services/clientService.js"></script>
    

    <script>
        $(function () {
            $('#secrets').tagEditor({
                delimeter: ', ',
                placeholder: "Secrets (comma separated)",

            });

            $.get("@Url.Action("GetClients","Clients")", (result) => {
                
                $("#client-grid-view").html(result);
            })
        })
        //registerDialog(dialogId, actionBtnId)
        registerDialog("#client-type-dialog", "#add-client-action",null);
        registerDialog("#add-apiclient-dialog", "#create-webapi-client","#client-type-dialog");
        registerDialog("#client-details-dialog", ".client-details-action",null);
        registerDialog("#client-update-dialog" , ".client-update-action",null);
        registerDialog("#client-delete-dialog", ".client-delete-action",null);


        configureToggle("#check-client-enable", onClientEnableChange);

        var saveBasicConfigBtn = document.querySelector("#save-basic-config");
        saveBasicConfigBtn && saveBasicConfigBtn.addEventListener("click", saveBasicConfig);

        var saveClientConfigBtn = document.querySelector("#save-client-config");
        saveClientConfigBtn && saveClientConfigBtn.addEventListener("click", saveClientConfiguration);

        function saveClientConfiguration() {
            var formData = $("#client-configurtion").serialize();
            
             clientService.post("@Url.Action("UpdateClient", "Client")", formData, (result) => {                 
                 if (result.success) {
                   
                     toggleLoadingMask();
                     showNotification(result.message);
                     return;
                 }
                 toggleLoadingMask();
                 showNotification(result.message);

             }, (data) => {

                 toggleLoadingMask();
                 data.responseJSON.message && showNotification(data.responseJSON.message);

             });

        }

         function saveBasicConfig() {
             toggleLoadingMask();

             var formData = $("#basic-config-form").serialize();
             var client_secrets = "";
             var secrets = $("#secrets").val().split(',').forEach((val, index) => {
                 client_secrets += `ClientSecrets.Value=${val}&`;
             });

             client_secrets = client_secrets.slice(0, -1);
             formData += client_secrets;



             clientService.post("@Url.Action("AddClient","Client")", formData, (result) => {
                
                 if (result.success) {
                     $("#client-id").val(result.data.client_id);
                     toggleLoadingMask();
                     switchTabs();
                     return;
                 }
                 toggleLoadingMask();
                 showNotification(result.message);

             }, (data) => {

                 toggleLoadingMask();
                 data.responseJSON.message && showNotification(data.responseJSON.message);

             });


         }

        function switchTabs() {

            var tabs = document.querySelectorAll(".client-config-tabs .mdl-tabs__panel");
            var tabSelectors = document.querySelectorAll(".client-config-tabs .mdl-tabs__tab");

            if (tabs && tabs.length > 1 && tabSelectors) {
                tabSelectors[0].classList.remove("is-active");
                tabSelectors[1].classList.add("is-active");

                tabs[0].classList.remove("is-active");
                tabs[1].classList.add("is-active");

            }

        }


        function toggleLoadingMask() {
            var $loader = $(".mdl-progress");
            $loader.is(":visible") ? $loader.hide() : $loader.show();

        }
        function onClientEnableChange(e) {

            var checkedValue = e.target.checked;
            var clientId = e.target.getAttribute("data-client-id");
            var url = '@Url.Action("UpdateClientStatus","Client")'+"?clientId=" + clientId + "&enableStatus=" + checkedValue;
            clientService.updateClientStatus(url, checkedValue, clientId, onClientEnableSuccess, onClientEnableFailed);
        }

        function onClientEnableSuccess(data) {
            showNotification(data.message);

        }

        function onClientEnableFailed(err) {

            showNotification("Operation failed due to network issue.");
        }

        function showNotification(msg) {
            var infoSnackbar = document.querySelector("#info-snackbar");
            if (infoSnackbar) {
                var data = {
                    message: msg,
                    timeout: 2000,
                }
                infoSnackbar.MaterialSnackbar.showSnackbar(data);
            }

        }
    </script>
}