@model ConsentViewModel

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
               
                @if (Model.ClientLogoUrl != null)
                {
                    <div class="client-logo"><img src="http://via.placeholder.com/50x50"></div>
                }
                <h4 class="mdl-card__title-text">@Model.ClientName</h4>

              

                <strong>is requesting your permission</strong>

                @Html.Partial("_ValidationSummary")
                <form asp-action="Index" class="consent-form">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div>Uncheck the permissions you do not wish to grant.</div>

@if (Model.IdentityScopes.Any())
{
    <div class="panel panel-default consent-buttons">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span>
            Personal Information
        </div>
        <ul class="list-group">
            @foreach (var scope in Model.IdentityScopes)
            {
                @Html.Partial("_ScopeListItem", scope)
            }
        </ul>
        @if (Model.ResourceScopes.Any())
                {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Application Access
                </div>
                <ul class="list-group">
                    @foreach (var scope in Model.ResourceScopes)
                    {
                        @Html.Partial("_ScopeListItem", scope)
                    }
                </ul>
            </div>
        }
        @if (Model.AllowRememberConsent)
                {
            <div class="consent-remember">
                <label>
                    <input class="consent-scopecheck" asp-for="RememberConsent" />
                    <strong>Remember My Decision</strong>
                </label>
            </div>
        }
    </div>
}

                    @*<div>
                        <strong><i class="material-icons">person</i>Personal Information</strong>
                    </div>*@
                </form>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started
                </a>
            </div>
         
        </div>
    </div>
</div>